<div class="container">
  <div class="btn-actions">
    <div class="search-input">
      <input type="text" placeholder="search by name and email and body" [(ngModel)]="searchData" (input)="onSearch()">
    </div>
    <div>
      <button (click)="onEdit()">Edit</button>
      <button (click)="onCancel()">Cancel</button>
    </div>
  </div>
  <table [ngClass]="{'iseditview':isEditEnable}">
    <tr>
      <th (click)="sortMethod('id')">S.NO</th>
      <th (click)="sortMethod('name')">NAME</th>
      <th (click)="sortMethod('email')">EMAIL</th>
      <th (click)="sortMethod('body')">BODY</th>
    </tr>
    <tbody>
      <tr *ngFor="let item of commentList">
        <td>
          <input type="text" readonly [value]="item.id" style="border: none;">
        </td>
        <td>
          <input type="text" [readonly]='!isEditEnable' [value]="item.name">
        </td>
        <td>
          <input type="email" [readonly]='!isEditEnable' [value]="item.email">
        </td>
        <td class="body-data">
          <input *ngIf="isEditEnable" type="text"  [value]="item.body">
          <p *ngIf="!isEditEnable">{{item.body}}</p>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination-sec">
    <select (change)="changeValues($event.target.value)">
      <option value="10">10</option>
      <option value="30">30</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
    <div *ngIf="commentList.length" class="pagination-block">
      <button (click)="backPage()" [ngClass]="{'active': activePageId > 1}" [disabled]="!(activePageId > 1)">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15 18L9 12L15 6" stroke="black" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
          </svg>
      </button>
      <p>
          <b>{{activePageId}}</b> &nbsp;&nbsp; of &nbsp;&nbsp; {{paginationsCount}} Pages
      </p>
      <button (click)="nextPage()" [ngClass]="{'active': paginationsCount > activePageId }"
          [disabled]="paginationsCount === activePageId">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9 18L15 12L9 6" stroke="black" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
          </svg>
      </button>
    </div>
  </div>
</div>